.font_Verdana {
	font-family: Tim, Geneva, sans-serif;
}
h1 {
	color: #930;
} 
h2 {
	color: #66F
}
h3{
	color: #C30;
}
h4 {
	color: #369;
} 
hr {
	color: #69C;
}
p{
	text-align : justify;
}
p.footer_best {
	text-align: center;
}
p.Syllabus_Code {
	text-align: center;
}	
